# dependencies
/node_modules

uploads/*
!uploads/.gitkeep

# environment variables
.env
.env.local
.env.development
.env.production

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# temporary files
*.tmp
*.temp

# coverage
/coverage

# build
/dist

# vscode
.vscode